.error {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.error__image {
  height: 70px;
  margin-bottom: 10px;
}

.error__link {
  text-decoration: none;

  color: #00f;
}

.error__link:hover {
  text-decoration: underline;
}
