.app {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 768px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.app__header {
  flex: 0 0 auto;

  padding: 12px 0 28px;

  text-align: center;
}

.app__title {
  margin: 0;

  text-transform: uppercase;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: normal;
}

.app__main {
  flex: 1 0 auto;

  padding-bottom: 30px;
}

.app__footer {
  flex: 0 0 auto;

  padding: 20px 0;

  text-align: center;

  border-top: 1px solid #ccc;
}

.app__copyright {
  display: block;

  color: #ccc;

  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
