.gallery-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
}

.gallery-modal__paranja {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.gallery-modal__content {
  position: relative;
  z-index: 1;

  display: grid;

  box-sizing: border-box;
  width: 100%;
  max-width: 620px;
  height: 425px;
  padding: 30px;

  background-color: #fff;

  grid-template-areas:
    'image comments'
    'form comments';
  grid-template-columns: 330px 1fr;
  grid-column-gap: 14px;
}

.gallery-modal__close {
  position: absolute;
  top: 9px;
  right: 11px;

  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 0;

  cursor: pointer;

  border: none;
  background-color: transparent;
}

.gallery-modal__close::before,
.gallery-modal__close::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 25px;
  height: 1px;
  margin: auto;

  content: '';
  transition: background-color 150ms;

  background-color: #000;
}

.gallery-modal__close::before {
  transform: rotate(45deg);
}

.gallery-modal__close::after {
  transform: rotate(-45deg);
}

.gallery-modal__close:hover::before,
.gallery-modal__close:hover::after,
.gallery-modal__close:focus::before,
.gallery-modal__close:focus::after {
  outline: none;
  background-color: #f00;
}

.gallery-modal__image-container {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  height: 205px;
  margin-bottom: 22px;

  grid-area: image;
}

.gallery-modal__image {
  display: block;

  width: 100%;
  max-width: 100%;
  height: 100%;

  object-fit: cover;
}

.gallery-modal__comments {
  overflow: auto;

  height: 365px;
  padding-top: 5px;

  grid-area: comments;
}

.gallery-modal__comments-dummy {
  margin: 5px 0;

  color: #999;

  font-size: 13px;
  font-style: italic;
  line-height: 1.3;
}

.gallery-modal__comment {
  font-size: 13px;
}

.gallery-modal__comment-date {
  display: block;

  margin-bottom: 5px;

  color: #999;
}

.gallery-modal__comment-text {
  margin: 0 0 20px;

  word-wrap: break-word;
}

.gallery-modal__form {
  font-size: 13px;

  grid-area: form;
}

.gallery-modal__input {
  box-sizing: border-box;
  margin-bottom: 20px;
}

.gallery-modal__button {
  width: 100%;
  padding: 7px 11px;

  cursor: pointer;
  transition: background-color 200ms;

  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #4997D0;
}

.gallery-modal__button:hover,
.gallery-modal__button:focus {
  background-color: #32CD32;
}

.gallery-modal__button:active {
  background-color: #999;
}

.gallery-modal__button:disabled {
  background-color: #ccc;
}

@media (max-width: 640px), (max-height: 450px) {
  .gallery-modal {
    display: block;
    overflow: auto;
  }

  .gallery-modal__content {
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100%;
    padding: 0;

    grid-template-areas:
      'image'
      'comments'
      'form';
    grid-template-columns: auto;
    grid-template-rows: 255px minmax(150px, 1fr) auto;
    grid-column-gap: normal;
  }

  .gallery-modal__image-container {
    margin-bottom: 0;
    height: auto;
  }

  .gallery-modal__comments {
    height: auto;
    margin: 0 22px;
    padding-top: 25px;
  }

  .gallery-modal__form {
    margin: 0 22px 48px;

    box-shadow: 0px -20px 5px 0px rgba(255, 255, 255, 0.7);
  }
}

@media (max-width: 480px) {
  .gallery-modal__content {
    grid-template-rows: 205px minmax(150px, 1fr) auto;
  }

  .gallery-modal__close:hover::before,
  .gallery-modal__close:hover::after {
    outline: none;
    background-color: #000;
  }

  .gallery-modal__button:hover {
    background-color: #4997D0;
  }
}
