@import './fonts/fonts.css';

html,
body,
#root {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

a,
input,
button {
  outline: none !important;

  -webkit-tap-highlight-color: transparent;
}

.scroll-hidden {
  overflow: hidden;
}
